***Gráfico líneal***

In [1]:
import pandas as pd
import plotly.offline as pyo
import plotly.graph_objs as go

In [3]:
datos = pd.read_csv('temperaturas.csv')

In [6]:
datos

        FECHA      DIA   HORA  TEMPERATURA
0    20100607    LUNES   0:00         30.9
1    20100607    LUNES   1:00         28.7
2    20100607    LUNES   2:00         26.9
3    20100607    LUNES   3:00         25.2
4    20100607    LUNES   4:00         24.1
..        ...      ...    ...          ...
163  20100606  DOMINGO  19:00         39.5
164  20100606  DOMINGO  20:00         37.9
165  20100606  DOMINGO  21:00         36.5
166  20100606  DOMINGO  22:00         35.0
167  20100606  DOMINGO  23:00         32.9

[168 rows x 4 columns]

In [8]:
dias = ['LUNES','MARTES','MIÉRCOLES','JUEVES','VIERNES','SÁBADO','DOMINGO']

In [9]:
dias

['LUNES', 'MARTES', 'MIÉRCOLES', 'JUEVES', 'VIERNES', 'SÁBADO', 'DOMINGO']

In [10]:
valores = []

In [11]:
for dia in dias:
    seguimiento = go.Scatter(x = datos['HORA'],
                            y = datos[(datos['DIA']==dia)]['TEMPERATURA'],
                            mode = 'lines',
                            name = dia)
    valores.append(seguimiento)

In [14]:
capa = go.Layout(title='Temperaturas diarias')
figura = go.Figure(data=valores, layout=capa)
pyo.plot(figura)

'temp-plot.html'